{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}

{% endblock %}
{% block contenido %}
<section class="vh-10000" style="background-color: #ffffff;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5"> 
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <h3 class="mb-5">Registro de Usuario</h3>
              <form action="" method="POST">
              {% csrf_token %}    
              {{ form | crispy }}
            
              <!-- Checkbox -->
              <div style="display: flex; flex-direction: column; gap: 10px;">
                <input type="submit" value="Registrar" class="btn btn-success btn-lg btn-block">
                <div style="display: flex; justify-content: space-between;">
                  <a href="{% url 'index' %}" class="btn btn-primary boton-pequeno" style="max-width: 150px;">Ir al inicio</a>
                  <a href="{% url 'login' %}" class="btn btn-primary boton-pequeno" style="max-width: 150px;">Iniciar sesión</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}
{% block js %}

{% endblock %}