{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jardineria</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'core/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'core/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'core/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'core/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'core/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'core/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'core/css/suscripcion.css' %}" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />

    {% block css %}

    {% endblock %}
</head>



<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>



    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                {% if user.is_authenticated and user.username == 'admin' %}
                                <li><a href="{% url 'admin:index' %}" style="color: black;"><i class="fa fa-user"></i>
                                        {{ user.username }}</a></li>
                                {% elif user.is_authenticated and user.username != 'admin' %}
                                <li>
                                    <a href="#" style="color: black;" data-toggle="modal" data-target="#profileModal">
                                        <i class="fa-solid fa-user"></i> {{ user.username }}
                                    </a>
                                </li>
                                {% endif %}
                                <li>Productos de primer nivel</li>
                            </ul>
                            <div class="modal fade" id="profileModal" tabindex="-1" role="dialog"
                                aria-labelledby="profileModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="profileModalLabel">Perfil de Usuario</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                            <p>Nombre de usuario: {{ user.username }}</p>
                                            <p>Email: {{ user.email }}</p>







                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                            
                                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i> </a>
                           
                            </div>
                            <div class="header__top__right__auth">
                                {% if user.is_authenticated %}
                                <a href="{% url 'logout' %}"><i class="fa fa-user"></i> Cerrar Sesion</a>
                                {% else %}
                                <a href="{% url 'login' %}"><i class="fa-solid fa-user"></i> Iniciar sesion</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="{% url 'index' %}"><img src="{% static 'core/img/logo' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 my-7 mx-auto">
                    <nav class="header__menu">
                        <ul class="d-flex justify-content-between">
                            <li><a href="{% url 'index' %}">Inicio</a></li>
                            <li><a href="{% url 'shopgrid' %}">Productos</a></li>
                
                            {% if user.is_authenticated %}
                                {% if user.username == 'admin' %}
                                    <li><a href="{% url 'seguimiento' %}">Seguimiento</a></li>
                                    <li><a href="{% url 'add' %}">Añadir producto</a></li>
                                    {% elif user.groups.first.name == 'vendedor' %}
                                    <li><a href="{% url 'add' %}">Añadir producto</a></li>
                                    {% elif user.groups.first.name == 'cliente' %}
                                    <li><a href="{% url 'seguimiento' %}">Seguimiento</a></li>
                                    <li><a href="{% url 'historial' %}">Historial</a></li>
                                    <li><a href="{% url 'suscripcion' %}">Suscripción</a></li>
                                {% endif %}
                            {% else %}
                                <li><a href="{% url 'registro' %}">Crear cuenta</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>


                            <li><a href="{% url 'shopingcart' %}"><i class="fa-solid fa-cart-shopping"></i> </a></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>

    {% block contenido %}








    {% endblock %}

    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="{% url 'index' %}"><img src="{% static 'core/img/logo' %}" alt=""></a>
                        </div>
                        <ul>
                            <li>direccion: la casa del mario</li>
                            <li>Phone: +56911111111</li>
                            <li>Email: contactojardineria@gmail.com</li>
                        </ul>
                    </div>
                </div>



                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">


                    <!-- 
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>-->


                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>¿tienes un problema?</h6>
                        <p>Ingresa tu correo y te contactaremos </p>
                        <form id="mi-formulario">
                            <input type="email" id="correo" placeholder="Ingresa correo" >
                            <button type="submit" class="site-btn">Enviar</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>

                        </div>
                    </div>
                </div>



            </div>

        </div>
    </footer>


    <!-- Js Plugins -->
    <script src="{% static 'core/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'core/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'core/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'core/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'core/js/mixitup.min.js' %}"></script>
    <script src="{% static 'core/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'core/js/main.js' %}"></script>
    <script src="{% static 'core/js/mensaje.js' %}"></script>
    <script src="{% static 'core/js/confirma.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="http://www.paypalobjects.com/api/checkout.js"></script>

    {% block js %}


    {% endblock %}
</body>

</html>