{% extends 'core/base.html' %}
{% load static %}
{% block css %}

{% endblock %}
{% block contenido %}



<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'core/img/jardiiiiiiin.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>productos</h2>
                    <div class="breadcrumb__option">
                        <a href="{% url 'index' %}">inicio</a>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="row">

        </div>
        <div class="checkout__form">
            <h4>Detalles de envio</h4>
            <form action="{% url 'checkout' %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="checkout__input">
                            <p>nombre completo<span>*</span></p>
                            <input type="text" name="nombre_completo" required>
                        </div>
                        <div class="checkout__input">
                            <p>Región<span>*</span></p>
                            <input type="text" name="region" required>
                        </div>
                        <div class="checkout__input">
                            <p>Comuna<span>*</span></p>
                            <input type="text" name="comuna" required>
                        </div>
                        <div class="checkout__input">
                            <p>Direccion<span>*</span></p>
                            <input type="text" placeholder="Calle/avenida" class="checkout__input__add"
                                name="direccion" required>
                            <input type="text" placeholder="Número casa / Número departamento (etc)"
                                name="nro_casa_departamento" required>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Celular<span>*</span></p>
                                    <input type="text" name="celular" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Correo<span></span></p>
                                    <input type="text" name="correo" >
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            <p>¿Quieres dejar un comentario?</p>
                            <input type="text" placeholder="Notas sobre su pedido. Notas especiales para la entrega."
                                name="comentario">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4>Tu pedido</h4>
                            <div class="checkout__order__products">productos <span>Total</span></div>
                            <ul>
                                {% for producto in listarproductos %}
                                <li>{{ producto.producto.nombre }} <span>${{ producto.total_producto }}</span></li>
                                {% endfor %}
                                {% if suscrito %}
                                <div class="checkout__order__total">total <span>${{ total_precio }}</span></div>
                                <div class="checkout__order__total">total con iva <span>${{ total_iva }}</span></div>   
                                <div class="checkout__order__total">descuento <span>${{ descuento }}</span></div>                       
                                <div class="checkout__order__total">Subtotal <span>${{ total_con_descuento }}</span></div> 
                                <div class="checkout__order__total">Envio <span>Gratis</span></div>                                                           
                                <div class="checkout__order__total">precio en dolares <span>${{ total_dolares }}</span></div>
                                {% else %}
                                <div class="checkout__order__total">total <span>${{ total_precio }}</span></div>              
                                <div class="checkout__order__total">total con iva <span>${{ total_iva }}</span></div> 
                                <div class="checkout__order__total">Envio <span>$5000</span></div>
                                <div class="checkout__order__total">Total con envio <span>${{ total_envio }}</span></div>                             
                                <div class="checkout__order__total">precio en dolares <span>${{ total_en_dolar }}</span></div>
                                {% endif %}
                            </ul>
                            
                            
                            <a>
                                <div id="btnPaypal"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}

<script>
    paypal.Button.render({
        env: 'sandbox',
        client: {
            sandbox: 'AcJh5Q-9moAqbK1_ri8GBhkmOjloGpEXxlfb_IC6MCRGzUyrh5p5IyGqS9GPUhVg7UlO63FQiSeDm2uN',
            production: 'demo_production_client_id'
        },
        locale: 'es_CL',
        style: {
            size: 'medium', // small, medium, large
            color: 'gold', // gold, black
            shape: 'rect' // pill, rect
        },
        commit: true,
        payment: function (data, actions) {
    // Verificar la validez del formulario
    var form = document.forms[0];
    if (!form.checkValidity()) {
        Swal.fire({
            title: 'Error',
            text: 'Debes rellenar todos los campos del formulario.',
            icon: 'error',
            showCancelButton: false,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Aceptar'
        });
        return actions.reject();
    }

    // Verificar número de teléfono con 9 dígitos
    var telefono = form.elements["celular"].value;
    if (telefono.length !== 9) {
        Swal.fire({
            title: 'Error',
            text: 'El número de teléfono debe contener exactamente 9 dígitos.',
            icon: 'error',
            showCancelButton: false,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Aceptar'
        });
        return actions.reject();
    }

            // Verificar campos numéricos no negativos
            var total = parseFloat('{{ total }}');
            if (isNaN(total) || total < 0) {
                alert('El monto a pagar debe ser un número positivo.');
                return actions.reject();
            }

            // Crear el pago
            return actions.payment.create({
                transactions: [{
                    amount: {
                        total: total.toFixed(2), // monto a pagar
                        currency: 'USD'
                    }
                }]
            });
        },
        onAuthorize: function (data, actions) {
            return actions.payment.execute().then(function () {
                // Obtener los datos del formulario
                var formData = $('form').serialize();

                // Enviar los datos a la vista de Django utilizando AJAX
                $.ajax({
                    url: '/checkout/', // Reemplaza '/guardar_datos/' con la URL de tu vista Django que guarda los datos
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        Swal.fire({
                            title: 'Transacción',
                            text: 'Pago realizado correctamente!',
                            icon: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Aceptar'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = "/vaciar_carrito/";
                            }
                        });
                    },
                    error: function () {
                        Swal.fire({
                            title: 'Error Transacción',
                            text: 'Ha ocurrido un error en el pago!',
                            icon: 'error',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Aceptar'
                        });
                    }
                });
            });
        },
        onCancel(data) {
            Swal.fire({
                title: 'Transacción Cancelada',
                text: 'El pago ha sido cancelado!',
                icon: 'error',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar'
            });
        },
        onError(err) {
            Swal.fire({
                title: 'Error Transacción',
                text: 'Ha ocurrido un error en el pago!',
                icon: 'error',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar'
            });
        },
    }, '#btnPaypal');
</script>
{% endblock %}