{% extends 'core/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/seguimiento.css' %}" type="text/css">
{% endblock %}

{% block contenido %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">



{% if user.is_authenticated and user.is_superuser or user.username == 'vendedor' %}
<hr class="my-4">
<section class="h-135 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-10 col-xl-8">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-header px-4 py-5" style="background-color: rgb(127, 173, 57);">
                        <h3 class ="text-center" style="color: rgb(255, 255, 255);">Cambiar Estado del Pedido</h3>
                    </div>
                    <div class="card-body p-4">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="lead fw-normal mb-0" style="color: #7fad39;">Pedidos</p>
                            
                        </div>
                        <div class="card shadow-0 border mb-4">
                            {% for pedido in pedidos %}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="{{ pedido.producto.imagen.url }}" class="img-fluid">
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                        <p class="text-muted mb-0">pedido: {{ pedido.producto.nombre }}</p>
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                        <p class="text-muted mb-0">Nro pedido #{{ pedido.numero_pedido }}</p>
                                    </div>
                                    
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                        Comprador: {{ pedido.usuario.username }}
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                        <p class="text-muted mb-0 small"></p>
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                        <p class="text-muted mb-0 small">
                                            <form method="POST" action="{% url 'cambiar_estado_pedido' pedido.pk %}">
                                                {% csrf_token %}
                                                <label for="nuevo_estado">Estado:</label>
                                                <select name="nuevo_estado" id="nuevo_estado">
                                                    <option value="validacion" {% if pedido.estado == 'validacion' %}selected{% endif %}>Validación</option>
                                                    <option value="preparacion" {% if pedido.estado == 'preparacion' %}selected{% endif %}>Preparación</option>
                                                    <option value="reparto" {% if pedido.estado == 'reparto' %}selected{% endif %}>Reparto</option>
                                                    <option value="entregado" {% if pedido.estado == 'entregado' %}selected{% endif %}>Entregado</option>
                                                </select>
                                                <br>
                                                <input type="submit" value="Guardar" style="background-color: #7fad39; color: white; margin-top: 10px;">
                                            </form>
                                            
                                        </p>
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                        <p class="text-muted mb-0 small"></p>
                                    </div>
                                </div>
                                <hr class="mb-4" style="background-color: #7fad39; opacity: 1;">
                            </div>
                            {% endfor %}
                            <div class="card-footer border-0 px-4 py-5" style="background-color: rgb(127, 173, 57); border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
{% if pedidos %}
{% for pedido in pedidos %}
<hr class="my-4">


<div class="text-center">
    <h3 class="text-success">Producto <span id="contador{{ forloop.counter }}"></span></h3>
</div>

<div class="container padding-bottom-3x mb-1">
   
    <div class="container px-1 px-md-4 py-5 mx-auto">
        <div class="card">
            <div class="row d-flex justify-content-between px-3 top">
                <div class="d-flex">
                    <h5>Producto: <span class="text-success font-weight-bold">{{pedido.producto.nombre}}</span></h5>
                </div>
                <div class="d-flex flex-column text-sm-right">
                    <p class="mb-0">fecha de entrega: <span>{{ pedido.fecha_entrega }}</span></p>
                    <p>Nro pedido: <span class="font-weight-bold">{{ pedido.numero_pedido }}</span></p>
                </div>
            </div>
            <!-- Add class 'active' to progress -->
            {% if pedido.estado == 'validacion' %}
            <div class="row d-flex justify-content-center">
                <div class="col-12">
                    <ul id="progressbar" class="text-center">
                        <li class="active step0"></li>
                        <li class="step0"></li>
                        <li class="step0"></li>
                        <li class="step0"></li>
                    </ul>
                </div>
            </div>
            {% endif %}
            {% if pedido.estado == 'preparacion' %}
            <div class="row d-flex justify-content-center">
                <div class="col-12">
                    <ul id="progressbar" class="text-center">
                        <li class="active step0"></li>
                        <li class="active step0"></li>
                        <li class="step0"></li>
                        <li class="step0"></li>
                    </ul>
                </div>
            </div>
            {% endif %}
            {% if pedido.estado == 'reparto' %}
            <div class="row d-flex justify-content-center">
                <div class="col-12">
                    <ul id="progressbar" class="text-center">
                        <li class="active step0"></li>
                        <li class="active step0"></li>
                        <li class="active step0"></li>
                        <li class="step0"></li>
                    </ul>
                </div>
            </div>
            {% endif %}
            {% if pedido.estado == 'entregado' %}
            <div class="row d-flex justify-content-center">
                <div class="col-12">
                    <ul id="progressbar" class="text-center">
                        <li class="active step0"></li>
                        <li class="active step0"></li>
                        <li class="active step0"></li>
                        <li class="active step0"></li>
                    </ul>
                </div>
            </div>
            {% endif %}
            <div class="row justify-content-between top">
                <div class="row d-flex icon-content">
                    <img class="icon" src="https://i.imgur.com/9nnc9Et.png">
                    <div class="d-flex flex-column">
                        <p class="font-weight-bold">estado: <br>Validación</p>
                    </div>
                </div>
                <div class="row d-flex icon-content">
                    <img class="icon" src="https://i.imgur.com/u1AzR7w.png">
                    <div class="d-flex flex-column">
                        <p class="font-weight-bold">estado: <br>Preparación</p>
                    </div>
                </div>
                <div class="row d-flex icon-content">
                    <img class="icon" src="https://i.imgur.com/TkPm63y.png">
                    <div class="d-flex flex-column">
                        <p class="font-weight-bold">estado: <br>Reparto</p>
                    </div>
                </div>
                <div class="row d-flex icon-content">
                    <img class="icon" src="https://i.imgur.com/HdsziHP.png">
                    <div class="d-flex flex-column">
                        <p class="font-weight-bold">estado: <br>Entregado</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ant-col br-10 box-shadow-1 plr-auto-xs mb-20 ant-col-xs-24 ant-col-md-24 ant-col-lg-24 ant-col-xl-24" style="background: rgb(255, 255, 255); border: 1px solid rgb(218, 218, 218); min-height: 5em;">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Detalles de envío</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Entrega En</th>
                    <td>{{ pedido.comuna }}/{{ pedido.direccion }}/{{ pedido.nro_casa_departamento }}</td>
                    <th scope="row">Destinatario</th>
                    <td>{{ pedido.nombre_completo}}</td>
                </tr>
                <tr>
                    <th scope="row">Origen</th>
                    <td>{{ pedido.region }}</td>
                    <th scope="row">Destino</th>
                    <td>{{ pedido.region }}</td>
                </tr>
                <tr>
                    <th scope="row">Celular</th>
                    <td>{{ pedido.celular }}</td>
                    <th scope="row">Correo</th>
                    <td>{{ pedido.correo }}</td>
                </tr>
                <tr>
                    <th scope="row">Cantidad:</th>
                    <td>{{ pedido.cantidad }}</td>
                    <th scope="row">Fecha aprox entrega</th>
                    <td>{{ pedido.fecha_entrega }}</td>
 
                </tr>
                <tr>
                    <th scope="row">Comentario:</th>
                    <td>{{ pedido.comentario }}</td>
                    <th scope="row"></th>
                    <td></td>

                </tr>
      
            </tbody>
        </table>
    </div>
</div>
{% endfor %}
{% else %}
<div class="alert alert-danger text-center">
    No tienes compras realizadas.
</div>
{% endif%}
<hr class="my-4">
{% endif %}
{% endblock %}
{% block js %}
<script>
    // Obtiene el número total de pedidos
    var numPedidos = {{ pedidos|length }};

    // Genera el contador de productos utilizando JavaScript
    for (var i = 1; i <= numPedidos; i++) {
        document.getElementById("contador" + i).textContent = i;
    }
</script>

{% endblock %}

