{% extends 'core/base.html' %} {% load static %} {% block css %} {% endblock %}
{% block contenido %} {% load crispy_forms_tags %}






<!-- Product Details Section Begin -->
<section class="product-details spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="product__details__pic">
          <div class="product__details__pic__item">
            <img class="product__details__pic__item--large" src="{{ Productos.imagen.url }}" alt="" />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="product__details__text">
          <h3>{{ Productos.nombre }}</h3>
          <div class="product__details__rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <span>(18 reviews)</span>
          </div>
          <div class="product__details__price">${{ Productos.precio }}</div>
          <p>"{{ Productos.descripcion }}"</p>
    
          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form | crispy }}
            </table>
            <input type="hidden" name="nombre" id="nombre" value="{{ Productos.nombre }}">
            <input type="hidden" name="producto_id" id="producto_id" value="{{ Productos.id }}">
            <input type="hidden" name="precio" id="precio" value="{{ Productos.precio }}">
            <input type="hidden" name="stock" id="stock" value="{{ Productos.stock }}">
            <input type="hidden" name="descripcion" id="descripcion" value="{{ Productos.descripcion }}">
            <input type="hidden" name="vigente" id="vigente" value="{{ Productos.vigente }}">
            <div class="product__details__quantity">
                <div class="quantity">
                    <div class="pro-qty">
                        <input type="number" name="cantidad_agregada" value="1" min="1" />
                    </div>
                </div>
            </div>
            {% if Productos.stock == 0 %}
                <input value="No hay stock disponible" class="primary-btn">
            {% else %}
                <input type="submit" value="Añadir al carrito" class="primary-btn">
            {% endif %}
        </form>
          

          
          

          <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
          <ul>
            <li><b>Stock disponible:</b> <span>{{ Productos.stock }}</span></li>

            <li>
              <b>Share on</b>
              <div class="share">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i></a>
                <i class="fa-brands fa-pinterest"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Details Section End -->

{% endblock %}

{% block js %}
{% if messages %}
{% for aux in messages %}
<script>
  Swal.fire({
    title: 'Confirmación',
    text: '{{ aux }}',
    icon: 'success',
    showCancelButton: false,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Aceptar'
  })
</script>
{% endfor %}
{% endif %}
{% endblock %}